/* Default */
h1, h2{
    margin: 0;
}
.container{
    max-width: 1440px;
    margin: auto;
}
body{
    background-color: #e5eaf7;
    min-height: 700vh;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    color:#000;
}
.btn-secondary{
    background-color: #fb8500;
}
/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Primary - #023047 dark blue */
/* Secondary - #8ecae6 light blue */
/*  - #fb8500 dark orange */
/*  - #ffb703 light orange */

/* header START */

.topbar{
    background-color: #023047;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}
.topbar .logo img{
    height: 40px;
}
.topbar .search{
    max-width: 700px;
    margin: auto;
}
.topbar .nav-search{
    display: none;
}
.navbar{
    background-color: #8ecae6;
    padding: 0;
}
@media only screen and (max-width: 1040px) {
    .navbar{
        display: none;
    }
    .topbar .search{
        display: none;
    }
    .topbar .nav-search{
        display: flex;
        gap:14px;
    }
    .topbar div{
        justify-content: space-between;
    }
    .mobile-menu{
        position: fixed;
        background-color: white;
        z-index: 50;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 10px;
    }
    .mobile-menu-content{
        margin-top: 30px;
    }
    .mm-level1 li:first-child{
        border-top: 1px solid #aaa;
    }
    .mm-level1 li{
        border-bottom: 1px solid #aaa;
    }
    .mm-level1 li span{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mm-level2, .mm-level3{
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 10px;
        margin-top: 40px;
    }
    .mm-level3 .mobile-menu-content{
        margin-top: 0;
    }
    .mobile-menu-header{
        display: flex;
    }
    .mobile-menu-content ul{
        list-style: none;
        padding: 0px;
    }
    .mobile-menu-content li span{
        padding: 14px 0;
        justify-content: space-between;
        align-items: center;
    }
    .rightarrow::after{
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 8 12" fill="currentColor" aria-hidden="true"%3E%3Cpath d="M1.08921 0.148971C1.03905 0.106489 0.981007 0.074303 0.918404 0.0542515C0.8558 0.0341999 0.78986 0.0266754 0.724348 0.0321076C0.592041 0.0430785 0.469511 0.106159 0.383714 0.207471C0.297916 0.308784 0.255879 0.44003 0.26685 0.572337C0.277821 0.704644 0.340901 0.827174 0.442214 0.912971L6.46021 5.99997L0.442214 11.087C0.340901 11.1728 0.277821 11.2953 0.26685 11.4276C0.255879 11.5599 0.297916 11.6912 0.383714 11.7925C0.469511 11.8938 0.592041 11.9569 0.724348 11.9678C0.856655 11.9788 0.987901 11.9368 1.08921 11.851L7.55821 6.38197C7.61379 6.33504 7.65846 6.27654 7.68909 6.21056C7.71973 6.14458 7.73561 6.07272 7.73561 5.99997C7.73561 5.92723 7.71973 5.85536 7.68909 5.78938C7.65846 5.7234 7.61379 5.66491 7.55821 5.61797L1.08921 0.148971Z"%3E%3C/path%3E%3C/svg%3E');
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 8px; /* Adjust spacing as needed */
        vertical-align: middle;
      }
}
.hidden {
    display: none;
}
.navbar .nav a{
    text-decoration: none;
    font-weight: 400;
    padding: 8px;
}
.navbar .nav a:hover{
    color: #008cff;
}
.navbar .nav .nav-link{
    padding: 8px 20px;
    color: #000;
}
.navbar h1{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.submenu{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    margin-top: 15px;
    border-radius: 10px;
}
.nav-item:first-child .submenu{
    min-width: 900px;
}
.nav-item:nth-child(2) .submenu{
    width: 700px;
}
.nav-item:nth-child(3) .submenu{
    width: 700px;
}
.nav-item:nth-child(4) .submenu{
    width: 900px;
    margin-left: -300px;
}
.border-right{
    border-right: 1px solid #ddd;
}
.submenu::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 60px;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
}
.submenu2{
    list-style: none;
    margin: 20px 10px;
    padding: 0;
}
.submenu2-item{
    margin: 20px;
    display: none;
}
.submenu2-item:first-child{
    display: flex;
}
.submenu2-item h3{
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.submenu2 a div{
    padding: 10px 0;
}
.submenu2-column{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.submenu2-column img{
    max-width: 100px;
}
.sub-nav-item img{
    width: 100px;
    border-radius: 10px;
}
.submenu2 .sub-nav-item a{
    display: flex;
}
.submenu2 .sub-nav-item a:hover{
    background-color: #eeeeee;
}
p{
    padding-left: 10px;
}
.hero_carousel{
    display: grid;
    grid-template-columns: 1.4fr 0.6fr; 
    grid-template-rows: 1fr 1fr;
    margin: 20px 10px;
    border-radius: 20px;
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
    .hero_carousel{
        margin: 10px 0px;
        border-radius: 10px;
    }
}
.hero_item1 {
    background-color: #023047;
    grid-column: 1 / 2; /* First column */
    grid-row: 1 / 3; /* Spans both rows */
}
.hero_item2 {
    background-color: #024047;
    grid-column: 2 / 3; /* Second column */
    grid-row: 1 / 2; /* First row */
}
.hero_item3 {
    background-color: #025047;
    grid-column: 2 / 3; /* Second column */
    grid-row: 2 / 3; /* Second row */
    /* height: 50%; */
}
.hero_item1 img, .hero_item2 img, .hero_item3 img{
    height: 100%;
    object-fit: cover;
}
/* header END */
/* sticky menu */
.sticky-menu{
    background-color: #fff;
    transition: all 0.3s ease;
    position: relative;   
    transition: all 0.3s ease-in-out;
}
.sticky-menu.sticky{
    top: 60px;
}
.sticky-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.sticky-menu ul li a{
    padding: 7px 15px;
    display: flex;
    text-decoration: none;
    font-weight: 600;
    margin: 5px 0;
    border: 1px solid transparent;
    width: max-content;
}
.sticky-menu ul li a.active {
    border: 1px solid #008cff;
    border-radius: 4px;
    background-color: rgb(234, 245, 255);
    color: #008cff;
}
.sticky {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10; /* Ensures it stays on top */
    transform: translateY(0);
}
/* sticky menu */

.fixed-size {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
}
/* sticky menu */

.fixed-size2 {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
.no-scroll {
    overflow: hidden;
}